<canvas></canvas>
<pre></pre>
<style>
  canvas { border: solid 1px red; }
* { font: 16px monospace; }
</style>
<script>
var canvas = document.querySelector('canvas');
var results = document.querySelector('pre');

var S = 16;
var H = canvas.height = canvas.width = S + 1;
var font = S + 'px monospace';
var ctx = canvas.getContext('2d');
ctx.font = font;
var metrics = ctx.measureText('M');
var W = canvas.width = metrics.width;
ctx.font = font;
console.log(W, H);
ctx.clearStyle = 'white';
ctx.fillStyle = 'black';
var density = {};
var max = 0;
var cs = [];
for (var i = 32; i < 127; ++i) {
  var c = String.fromCharCode(i);
  ctx.clearRect(0,0,W,H);
  ctx.fillText(c, 0, S-3);
  var pixels = ctx.getImageData(0,0,W,H);
  var t = 0;
  for (var p = 3; p < W * H * 4; p += 4)
    t += pixels.data[p];
  var d = t/(W*H*255);
  density[i] = density[c] = d;
  max = Math.max(max, d);
  cs.push(c);
}
cs.sort(function (a,b) { return density[a] - density[b] });
results.innerText += '\nvar densities = [';
for (var i = 0; i < cs.length; ++i)
  results.innerText += '\n  ["' + cs[i] + '", ' + (density[cs[i]]/max).toFixed(4) + '],';
results.innerText += '\n];';

</script>